html, body {
    margin: 100;
    padding: 10;
    
}

.coffee {
    width: 425px;
    border: 2px solid red;
    
    
}
.decaf {
    width: 425px;
    border: 2px solid blue;

}
.donuts {
    height: 300px;
    width: 425px;
    border: 2px solid green;

}
.nav-bar {
    position: fixed;
    width: 100%;
    margin: 10px;
    background-color: rgb(55,44,22,.4);
}
.about {
    position: relative;
    left: 315px;
   
}
.menu {
    position: relative;
    left: 315px
}
.home {
    position: relative;
    left: 315px;

}

.container {
    position: relative;
  }
  
  .centered-element {
    height: 100px;
    width: 100px;
    position: absolute;
    left: 50%;
    margin-left: -50px;
    top: 50%;
    margin-top: -50px;
  }